.item-1 {
    display: block;
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(255, 255, 255); 
    margin-top: 100px;
    margin-left: 220px;
 
  }
 
 .item-2 {
    display: block;
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(255, 255, 255); 
    margin-top: -127px;
    margin-left: 570px; 
 
 }
 
 .item-3 {
    display: block;
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(255, 255, 255); 
    margin-top: -127px;
    margin-left: 920px;
 
  }
 
  .item-4 {
    display: block;
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(255, 255, 255); 
    margin-top: 50px; 
    margin-left: 400px; 
 
 }
 
 .item-5 {
   display: block;
   width: 20%;
   background-color: #000000;
    color: white;
   padding: 50px;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   border: 2px solid rgb(255, 255, 255); 
   margin-top: -127px;
   margin-left: 750px; 
 }
 
 
 
 .add-to-cart {
   display: block;
   width: 150px;
   background-color: #000000;
    color: white;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   border: 2px solid rgb(255, 255, 255); 
   margin-top: -20px;
   margin-left: 1225px;
 }
  
 
 .back2 {
    display: block;
    width: 200px;
    background-color: #000000;
    color: white;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff; 
    margin-top: 20px;
    margin-left: 50px;
 
 }
 
 
 
 .next2 {
    display: block;
    width: 200px;
    background-color: #000000;
    color: white;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff; 
    margin-top: -82px;
    margin-left: 1200px; 
 }